body{
    padding:0;
    margin:0px;
    transition: all .5s linear;
}
::-webkit-scrollbar {
    width:0px;
    background: #000000;
    color:red;
    display: none;
}
/* navbar **************************************************** *

/* ************************************ */
.navbar{
    padding:0;
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: space-between;
    align-items: center;
    margin:0;
    background: transparent;
    z-index: 100;
}
.Your_profile{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:6px 5px;
    margin:0;
    cursor: pointer;
    transition: all .1s linear;
    border-radius: .5rem;
}
.Your_profile:hover{
    box-shadow: 1px 1px 2px grey;
}
.Your_profile .image img{
 height:30px;
 padding:6px;
 width:30px;
 margin:0;
}
.Your_profile p{
    font-size: 15px;
    padding: 0 6px;
    text-transform: capitalize;
    text-align: center;
    margin:0;
    position:relative;
}
/* }**************** */
.hide_menu{
    flex-direction: column;
    display: none;
    /* position:absolute;
    top:15px;
    left:20px; */
    font-size: 1.5rem;
}
.hide_menu i {
    border:1px solid black;
    padding:10px;
    cursor: pointer;
}
/* ***************** */
.list_items{
    display: flex;
    flex-direction: row;
    padding:0;
    margin:0;
}
.list_items li{
    list-style: none;
}
.list_items li a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: .4rem;
    font-size: 1rem;
}
.list_items li a:hover{
    background: transparent;
    box-shadow: 1px 1px 2px grey;
}
.logout-btn{
    display: flex;
    padding:0 5px;
}
.logout-btn button{
    background: red;
    outline:none;
    border:none;
    padding:4px;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
}
.logout-btn button:hover{
    animation-name:viberate;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transition: all .1s ease-out; 
    font-size: 1.1rem;
    color: white;
}
@keyframes viberate {
    0%{
      transform: rotateX(15deg);
    }
    25%{
      transform: rotateY(13deg);
    }
    50%{
      transform: rotateX(15deg);
    }
    75%{
      transform: rotateY(13deg);
    }
    100%{
        transform: rotateX(15deg);
    }
}
.profile_info{
    display: grid;
    position: absolute;
    top:60px;
    left:-400px;
    min-width:250px;
    background-color: #ffffff;
    box-shadow: 5px 2px 6px 4px rgba(97, 94, 94, 0.2);
    align-items: center;
    text-align: center;
    padding:0;
    margin:6px 0;
    text-transform:capitalize;
    transition: all .5s linear;
    overflow-x: hidden;
    border-radius: .3rem;
    z-index: 10;
}

.profile_info .name_heading{
    text-align: center;
    color:rgb(0, 84, 193);
    text-shadow: 1px 1px 1px  black;
    padding: 0;
    margin:5px;
    font-size: 1.5rem;
    transition: all .1s linear;
}
.data_box{
    padding:0;
    display: flex;
    flex-direction: column;
    margin:10px;
}
.data_box p{
    display: flex;
    padding:10px;
    justify-content: start;
    font-size: 1.1rem;
    margin:10px;
    border:1px solid black;
    border-radius: .5rem;
}
.data_box p:hover {
    background: rgb(103, 112, 91);
    color:rgb(255, 255, 255);
}
.data_box p span{
    padding: 0 10px;   
}
.profile-pass{
    outline:none;
    border:none;
    text-align: start;
    font-size: 17px;
    background:transparent;
    text-transform: capitalize;
    border-radius:.2rem;
}
.profile-pass:focus{
    letter-spacing: 2px;
    animation-name:viberate;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transition: all .1s ease-out; 
    color: rgb(0, 2, 125);
}
.data_box p i{
    color:rgb(0, 7, 207);
    padding:0  10px;
    font-weight: 700;
    font-size: 1.1rem;
    /* text-shadow: 1px 1px 1px rgb(0, 26, 49); */
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#show{
    font-size: 16px;
    position: absolute;
    top:2px;
    left:86%;
    cursor: pointer;
    color:rgb(255, 28, 28);
    display: block;
}
#hided{
    font-size: 16px;
    position: absolute;
    top:2px;
    left:86%;
    color:rgb(0, 240, 40);
    cursor: pointer;
    display: none;
}
.edit-logout{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.edit-logout button{
    width:40%;
    margin: auto;
    font-size: 1rem;
    background: white;
    color: red;
    outline: none;
    border:none;
    box-shadow: 1px 1px 6px grey;
    border-radius: .5rem;
    padding: 7px;
    cursor: pointer;
}
.edit-logout button:hover{
    background: red;
    box-shadow: 1px 1px 7px red;
    color:white;
}
.edit{
position: relative;
 font-size: 1rem;
 width:40%;
 margin: auto;
 background: white;
 color: rgb(0, 141, 141);
 outline: none;
 border:none;
 box-shadow: 1px 1px 6px grey;
 border-radius: .5rem;
 padding: 7px;
 cursor: pointer;
 display:flex;
 justify-content: center;
}
.edit:hover{
    background: yellow;
    box-shadow: 1px 1px 7px yellow;
    color: rgb(0, 68, 255);
}
.update{
position: absolute;
font-size: 1rem;
width:40%;
margin: auto;
background: white;
color: rgb(0, 141, 141);
outline: none;
border:none;
box-shadow: 1px 1px 6px grey;
border-radius: .5rem;
padding: 7px;
cursor: pointer;
display:none;
justify-content: center;
left: 20.2px;
}
.update:hover{
    background: rgb(96, 160, 0);
    box-shadow: 1px 1px 7px rgb(4, 161, 14);
    color: rgb(245, 245, 245);
}
#update_heading{
    color: yellow;
    font-size: 1.1rem;
    margin:10px 0;
}
/*   ***************************chaApp **************************************  */
body{
    width:100%;
    overflow-x: hidden;  
}
/* ::-webkit-scrollbar {
    background: #8e8989;
    color:red;
    display: none;
} */
.wrapper{
    padding:10px;
    display: flex;
    justify-content: center;
    width:90%;
    margin:auto;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.user{
    box-shadow: 1px 1px 1px rgb(152, 139, 139);
    width:90%;
    display: flex;
    flex-direction: column;
    padding:10px;
    border-radius: .5rem;
}
.content{
    display: flex;
    justify-content: flex-start;
    box-shadow: 1px 2px 3px  rgb(105, 100, 100);
    border-radius: .3rem;
}
.content img{
    width: 50px;
    height: 50px;
    border-radius:50%;
    padding: 10px 15px;
}
.content .detail{
    display:flex;
    justify-content: space-between;
    width:100%;
    align-items:center;
    padding:10px;
    text-transform: capitalize;
}
.content .detail p{
    font-size: 13px;
    color:rgb(0, 163, 0);
}
.content .detail span{
    font-size: 1.2rem;
    font-weight: 600;
}
.search{
    display: flex;
    justify-content: center;
    /* border:1px solid black; */
    padding:10px;
}
.search input{
    width:80%;
    padding:7px;
    padding-left:10px;
    border:none;
    outline:none;
    border-radius: .5rem;
    margin: 0 7px;
    font-size: 1.1rem;
    box-shadow: 1px 1px 4px  rgb(71, 69, 69);
}
.search button{
    border:none;
    outline:none;
    border-radius: .5rem;
    padding:7px 10px;
    cursor: pointer;
    margin: 0 7px;
    box-shadow: 1px 1px 2px  rgb(71, 69, 69);
}
.msg{
    display: flex;
    flex-direction: column;
}
.user_list{
    max-height: 350px;
    overflow-x:hidden;
    scrollbar-width:5px;
}
a{
    text-decoration: none;
} 
.userContent{
   display: flex;
   flex-direction: column;
   width:100%;
}
.user_details img{
    width: 50px;
    height: 50px;
    border-radius:50%;
    padding: 10px 15px;
}
.user_details{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
}
.user_details .msg{
    display: flex;
    flex-direction: column;
}
.user_details .msg .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    width:100%;
}
.name span{
    padding:0;
    margin:0;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    text-decoration: none;
}
.name i{
    color:green;
}
.user_details p {
    padding:0;
    margin:5px;
    color:rgb(244, 139, 3);
    text-transform: capitalize;
}
.main_msg{
    display: flex;
    justify-content: space-between;
}
/*  *************chat Area *************** */
.chat-area{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 8px rgb(152, 139, 139);
    width:90%;
    display: flex;
    flex-direction: column;
    border-radius: .10rem;
    max-height: 630px;
    overflow-x:hidden;
}
::-webkit-scrollbar {
    background: #8e8989;
    color:red;
    display: none;
}
.chat-area header{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 1px 8px rgb(141, 138, 138);
    padding: 5px;
    background: white;
    margin: 0;
    border-radius: .5rem .1rem;
    position: sticky;
    top: -1px;
    z-index: 100;
}
.chat-area header img{
    height:50px;
    width:50px;
    border-radius: 50%;
    padding:0px 20px;
}
.chat-area header .details{
    display: flex;
    flex-direction: column;
}
.details span{
    padding:0;
    margin:0;
    text-transform: capitalize;
    font-weight: 600;
}
.details p{
    padding:5px 0;
    margin:0;
    text-transform: capitalize;
    color:green;
}
.chat-area header a i{
    color: black;
    font-size: 1.1rem;
}
.chat-area header a i:hover{
    color:red;
}
.chat-area header a i:active{
    color:red;
    text-shadow: 1px 1px 1px red;
}
/* .chat-Box{
    background: rgb(218, 218, 218);
    padding: 10px;
    height: 450px;
} */
.chat-Box .chat{
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin:20px 0;
}
.outgoing{
   display: flex;
   justify-content:flex-end;
}
.chat-Box .chat img{
    height:50px;
    width:50px;
    border-radius: 50%;
    padding:0px 20px;
}
.chat-Box .outgoing .details{
    margin:10px;
    /* padding:5px 10px; */
}
.chat-Box .incoming .details p{
    max-width: 400px;
    word-wrap: break-word;
    text-align: justify;
    background: rgb(61, 61, 61);
    color:rgb(255, 251, 251);
    font-size: 1.1rem;
    padding:6px 10px;
    border-radius: 7px 20px 7px;
}
.chat-Box .outgoing .details p{
    max-width: 400px;
    word-wrap: break-word;
    text-align: justify;
    background: grey;
    color:rgb(255, 253, 253);
    font-size: 1.1rem;
    padding:6px 10px;
    border-radius: 2px 20px 5px;
}
.sendmsg{
    display: flex;
    width: 99.4%;
    background: white;
    justify-content: center;
    padding: 10px 1px;
    position: sticky;
    bottom: -1px;
    z-index: 100;
}
.sendmsg input[type="text"]{
    padding: 5px 8px;
    font-size: 1.1rem;
    width:85%;
    border-radius: .6rem;
    outline:none;
    border:none;
    box-shadow: 1px 1px 5px rgb(102, 104, 101);
}
.sendmsg .button{
    /* padding: 5px 8px; */
    font-size: 1.1rem;
    border-radius: .6rem;
    outline:none;
    border:none;
    cursor: pointer;
    margin-left: 6px;
    box-shadow: 1px 1px 5px rgb(102, 190, 35);
    background: white;
}
/* ***************************************** */
@media (max-width: 480px){
    .navbar{
        padding:4px 10px;
        display: flex;
        margin:0;
        background: transparent;
        z-index: 100;
    }
    .Your_profile{
        display:none;
    }
    .list_items{
        display:none;
    }
    .hide_menu{
        display: block;
        font-size: 1.5rem;
    }
    .hide_menu i{
        padding:10px;
        border:1px solid black;
    }
    .logout-btn{
        display: flex;
        padding:0 5px;
    }
    .logout-btn button{
        background: red;
        outline:none;
        border:none;
        padding:4px;
        border-radius: .5rem;
        cursor: pointer;
        font-size: 1rem;
    }
    .logout-btn button:hover{
        animation-name:viberate;
        animation-duration: .4s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        transition: all .1s ease-out; 
        font-size: 1.1rem;
        color: white;
    }
    .profile_info{
        display: grid;
        position: absolute;
        top:40px;
        left:-400px;
        min-width:70px;
        background-color: #ffffff;
        box-shadow: 5px 2px 6px 4px rgba(97, 94, 94, 0.2);
        align-items: center;
        text-align: center;
        padding:0;
        margin:6px 0;
        text-transform:capitalize;
        transition: all .5s linear;
        overflow-x: hidden;
        border-radius: .3rem;
        z-index: 10;
    }
    
    .profile_info .name_heading{
        text-align: center;
        color:rgb(0, 84, 193);
        text-shadow: 1px 1px 1px  black;
        padding: 0;
        margin:5px;
        font-size: 1.5rem;
        transition: all .1s linear;
    }
    .data_box{
        padding:0;
        display: flex;
        flex-direction: column;
        margin:10px;
    }
    .data_box p{
        display: flex;
        padding:10px;
        justify-content: start;
        font-size: 1.1rem;
        margin:10px;
        border:1px solid black;
        border-radius: .5rem;
    }
    .data_box p:hover {
        background: rgb(103, 112, 91);
        color:rgb(255, 255, 255);
    }
    .data_box p span{
        padding: 0 10px;   
    }
    .profile-pass{
        outline:none;
        border:none;
        text-align: start;
        font-size: 17px;
        background:transparent;
        text-transform: capitalize;
        border-radius:.2rem;
    }
    #show{
        font-size: 16px;
        position: absolute;
        top:2px;
        left:80%;
        cursor: pointer;
        color:rgb(255, 28, 28);
        display: block;
    }
    #hided{
        font-size: 16px;
        position: absolute;
        top:2px;
        left:80%;
        color:rgb(0, 240, 40);
        cursor: pointer;
        display: none;
    }
}
@media (max-width: 370px){
    .profile_info{
        top:45px;
        left:-440px;
        min-width:50%;
    }
    .profile_info .name_heading{
        font-size: 1rem;
    }
    .data_box{
        padding:0;
        display: flex;
        flex-direction: column;
        margin:10px;
    }
    .data_box p{
        display: flex;
        padding:7px;
        justify-content: start;
        align-items: center;
        font-size: 13px;
    }
    .data_box p span{
        padding: 0 7px;   
    }
    .profile-pass{
        font-size: 15px;
    }
    
    .data_box p i{
        color:rgb(0, 7, 207);
        padding:0  10px;
        font-weight: 700;
        font-size: 1.1rem;
        /* text-shadow: 1px 1px 1px rgb(0, 26, 49); */
        position: relative; 
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}